<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Repo Saber</title>


<!--  ==================== LOCAL ==================  -->
	<link rel="stylesheet" href="lib/bootstrap_335.min.css">
	<link rel="stylesheet" href="lib/font-awesome_430.min.css">
	<script src="lib/jquery_321.min.js"></script>
	<script src="lib/bootstrap_337.min.js"></script>
	<script src="lib/vue_2517.js"></script>
	<script type='text/javascript' src='lib/libBase64.js'></script>

	<script>
		function buscar(frm){
			var gen = document.getElementById('genero').value;
			var epi = document.getElementById('epiteto').value;
			console.log('G: '+gen+' '+epi);
			showInfoEspecie(gen,epi);
		}
	</script>
<style>
	#divBase {max-height: 500px;overflow: auto;}
</style>

	<script type='module' src="js/repositorio.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<span id="codTipo" class="navbar-brand"></span>
			<span id="fuente" class="navbar-brand">Buscar en: Wikipedia (es)</span>
			<span>
				<input type="text" id="genero" placeholder="Genero">
				<input type="text" id="epiteto" placeholder="Epíteto">
				<input type="submit" value="Buscar" onclick="buscar()">
			</span>
		</div>

		<div class="collapse navbar-collapse" id="collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Listas <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li v-for="tipo in tipos" @click="getNodosList(tipo.cod)">{{tipo.tag}})</li>
					</ul> <!-- dropdown-menu -->
				</li> <!-- dropdown -->

				<li>
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars">&nbsp;<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="dropdown-menu-title"><span>Buscar en:</span></li>
						<li><a href="javascript:setWeb4info('WIKI_ES')"> Wikipedia (es)</a></li>
						<li><a href="javascript:setWeb4info('WIKI_EN')"> Wikipedia (en)</a></li>
						<li><a href="javascript:setWeb4info('WIKISPP')"> Wikispecies</a></li>
						<li><a href="javascript:setWeb4info('CATALOG')"> Catalogue of Life</a></li>
						<li><a href="javascript:setWeb4info('GBIF_GP')"> GBIF Global Biodiversity</a></li>
						<li><a href="javascript:setWeb4info('GBIF_ES')"> GBIF España</a></li>
						<li><a href="javascript:setWeb4info('EOFLIFE')"> Encyclop. of Life</a></li>
						<li><a href="javascript:setWeb4info('R_TORMO')"> Plantas y Hongos</a></li>
						<li><a href="javascript:setWeb4info('JBOTUMA')"> JB Univ. Málaga</a></li>
						<li><a href="javascript:setWeb4info('FCATALA')"> Flora Catalana</a></li-->
						<li><a href="javascript:setWeb4info('FLOVASC')"> Flora vascular</a></li>
						<li><a href="javascript:setWeb4info('FLOSILV')"> Flora silvestre</a></li>
						<li><a href="javascript:setWeb4info('PYRENEA')"> Flora Pirineos</a></li>
						<li><a href="javascript:setWeb4info('JSTORGP')"> JSTOR Global Plants</a></li>
						<li><a href="javascript:setWeb4info('IOPI_GP')"> IOPI Global Plants</a></li>
						<li><a href="javascript:setWeb4info('HARVARD')"> Univ. Harvard</a></li>
						<li><a href="javascript:setWeb4info('TROPICO')"> TROPICOS</a></li>
						<li><a href="javascript:setWeb4info('MEDLIST')"> MED Checklist</a></li>
						<li><a href="javascript:setWeb4info('NCBINLM')"> NCBI - NLM</a></li>
						<li><a href="javascript:setWeb4info('ASTUNAT')"> Astur Natura</a></li>
						<li><a href="javascript:setWeb4info('NAVARRA')"> Vegetación Navarra</a></li>
						<li><a href="javascript:setWeb4info('PLANTNET')"> Plant NET</a></li>

					</ul>
				</li>
	  	</ul> <!-- navbar -->
		</div>  <!-- collapse -->
	</div> <!-- container-fluid -->
</nav>

<div class="container">
	<div class="row">

		<div id="lstEsp">
			<span class="col-md-4">
				<ul style="max-height:500px;overflow:auto; border: 1px blue solid;">
					<li v-for="item in items" @click="showInfo(item)">{{item.tag}} ({{item.ctg}})</li>
				</ul>
			</span>
		<div > <!--lstEsp -->

	</div>  <!--row -->
</div> <!--container -->
</body>
</html>
