<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Repo Saber</title>


<!--  ==================== LOCAL ==================  -->
	<link rel="stylesheet" href="lib/bootstrap_335.min.css">
	<link rel="stylesheet" href="lib/font-awesome_430.min.css">
	<script src="lib/jquery_321.min.js"></script>
	<script src="lib/bootstrap_337.min.js"></script>
	<script src="lib/vue_2517.js"></script>
	<script type='text/javascript' src='lib/libBase64.js'></script>

<style>
	#divBase {max-height: 500px;overflow: auto;}
</style>

	<script type='module' src="js/repositorio.js"></script>
</head>
<body>

<div class="container">
	<div class="row">

		<div id="lstEsp">
			<span class="col-md-2">
				<ul style="max-height:500px;overflow:auto; border: 1px blue solid;">
					<li v-for="tipo in tipos" @click="getNodos(tipo.cod)">{{tipo.tag}}</li>
				</ul>
			</span>
			<span class="col-md-4">
				<ul style="max-height:500px;overflow:auto; border: 1px blue solid;">
					<li v-for="item in items">
						<span>{{item.tag}} ({{item.ctg}})</span>
						<span @click="showInfo(item)"><i class="fa fa-info-circle" style="color:blue;font-size:20px"></i></span>
					</li>
				</ul>
			</span>
			<span class="col-md-4">
				<form id="Form1" onsubmit="addNodo(event)">
					<input type="text" name="tag" class="form-element"><br>
					<button type="submit" class="btn btn-success">Enviar</button> 
				</form>
			</span>

		</div > <!--lstEsp -->

	</div>  <!--row -->
</div> <!--container -->
</body>
</html>
